@use 'variables.scss';

.custom-shape-divider-bottom {
    bottom: 0;
    left: 0;
    line-height: 0;
    margin-bottom: -1px;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    
    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 67px;
        transform: rotateY(180deg);
    
    }

    &.blue {
        .shape-fill {
            fill: variables.$blue-color;
        }
    }
    &.light {
        .shape-fill {
            fill: variables.$light-color;
        }
    }
    
}