@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1DE1B6;
}

.professional_summary p, .professional_experience li {
    margin-bottom: 1rem;
}

.professional_summary p:last-child, .professional_experience li:last-child {
    margin-bottom: 0;
}

.typed-text::after {
    color: rgb(225, 29, 72);
}

.bg-green {
    background-color: #1DE1B6;
}

.text-green {
    color: #1DE1B6
}

.border-green {
    border-color: rgb(29, 225, 182);
}

@keyframes backgroundColorPalette {
    0% {
      background: #e11d48;
    }
    50% {
      background: #000;
    }
    100% {
      background: #1DE1B6;
    }
  }
  
.icon-bg {
    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}