@use 'variables.scss';

.hero-container {
    position: relative;
    padding: variables.$section-padding;
}

.hero {
    align-items: center;
    color: variables.$brown-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    text-align: center;

    @media screen and (min-width: variables.$screen-sm) {
        flex-direction: row;
    }
    
    .hero-image {
        width: 100%;
        @media screen and (min-width: variables.$screen-sm) {
            width: 50%;
        }
        img {
            z-index: 1;
            max-width: 450px;

            @media screen and (max-width: variables.$screen-xs-max) {
                max-width: 400px;
            }
        }
    }


    .hero-text {
        margin-top: 60px;
        text-align: center;
        width: 100%;
        @media screen and (min-width: variables.$screen-sm) {
            margin-top: 0;
            text-align: right;
            width: 50%;
        }

        h1 {
            font-family: variables.$nunito-font;
            font-size: 3.2rem;
            font-style: normal;
            line-height: 1.2;
            margin-top: 0;
        }

        h2 {
            font-family: variables.$nova-script-font;
            font-size: 4rem;
            padding: 20px 0;
        }

        p {
            font-size: 2.4rem;
        }
    }

    .hero-about-me-container {
        overflow: hidden;
        h2 {
            opacity: 0; // or use visibility: hidden;
            transition: opacity 0.5s; // optional if you rely on GSAP only
        
            &.active {
                opacity: 1; // or use visibility: visible;
            }

        }
    }
}