@use 'variables.scss';

$border-radius: 24px;
$nav-height: 72px;

.navigation-container {
    height: $nav-height;
    opacity: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    .navigation,
    .navigation-shadow {
        box-sizing: border-box;
        border-radius: 0 0 $border-radius $border-radius;
        height: $nav-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .navigation-shadow {
        background-color: variables.$blue-shadow-color;
        border-radius: 0 0 $border-radius $border-radius;
        height: calc($nav-height + 10px);
        opacity: 0.25;
        transform: translate(-10px, 0px);
        z-index: 1;
    }

    .navigation-logo {
        font-family: variables.$nunito-font;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        position: relative;

        .navigation-logo-name {
            font-weight: 700;
            margin-left: 30px;

            @media screen and (min-width: variables.$screen-sm) and (max-width: variables.$screen-sm-max) {
                font-size: 2.4rem;
            }
        }

        span {
            font-weight: 300;

            &.navigation-logo-left-caret {
                margin-right: 10px;
                position: absolute;

                @media screen and (min-width: variables.$screen-sm) and (max-width: variables.$screen-sm-max) {
                    font-size: 2.4rem;
                    top: 8px;
                }
            }
            &.navigation-logo-right-caret {
                margin-left: 10px;
                position: absolute;
    
                @media screen and (min-width: variables.$screen-sm) and (max-width: variables.$screen-sm-max) {
                    font-size: 2.4rem;
                    top: 8px;
                }
            }
        }

    }

    .navigation {
        align-items: center;
        background-color: variables.$blue-color;
        color: variables.$light-color;
        display: flex;
        justify-content: space-between;
        padding-left: 33px;
        padding-right: 33px;
        z-index: 2;

        ul.desktop-navigation {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: variables.$screen-xs-max) {
                display: none;
            }

            li {
                box-sizing: border-box;

                &:not(:last-child) {
                    a {
                        margin-right: 20px;
                        @media screen and (min-width: variables.$screen-md) {        
                            margin-right: 34px;
                            &.icon {
                                margin-right: 15px;
                            }
                        }
                        @media screen and (min-width: variables.$screen-sm) and (max-width: variables.$screen-sm-max) {
                            margin-right: 12px;
                        }
    
                    }
                }

                a {
                    font-size: 1.8rem;
                    font-weight: 400;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    position: relative;

                    @media screen and (min-width: variables.$screen-sm) and (max-width: variables.$screen-sm-max) {
                        font-size: 1.4rem;
                    }

                    &.active {
                        color: variables.$light-color;
                        font-weight: 400;
                        padding-bottom: 5px;

                        &::before,
                        &::after {
                            width: 100%;
                        }
                    }

                    svg {
                        font-size: 2.2rem;
                        line-height: 0;
                        transform: translateY(5px);
                    }

                    &::before,
                    &::after {
                        border-radius: 3px;
                        content: '';
                        height: 3px;
                        position: absolute;
                        width: 0;
                        background: variables.$light-color;
                        transition: width 0.5s;
                    }

                    &::before {
                        top: 0;
                        right: 0;
                    }

                    &::after {
                        bottom: 0;
                        left: 0;
                    }

                    &:hover::after,
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }

        .mobile-navigation-hamburger-menu {
            @media screen and (min-width: variables.$screen-xs-max) {
                display: none;
            }
        }
    }

    .mobile-navigation {
        background: variables.$blue-color;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        right: -70%;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        width: 70%;
        z-index: 1000;

        ul {
            list-style: none;
            padding-top: 80px;

            li {
                list-style-type: none;

                a {
                    color: variables.$light-color;
                    display: block;
                    font-size: 3.2rem;
                    padding: 10px 20px;
                    text-decoration: none;
                    text-align: right;

                }
            }
        }

        &.menu-active {
            transform: translateX(-100%);
            /* Bring it back on screen when active */
            box-shadow: variables.$blue-shadow-color -5px 5px 15px;
        }

        .mobile-navigation-close {
            position: absolute;
            right: 16px;
            top: 20px;
        }
    }

    .mobile-menu-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: variables.$brown-color;
        /* Adjust the opacity as desired */
        opacity: 0.5;
        z-index: 999;
        /* Below the menu but above other content */
        display: none;
        /* Hidden by default */

        &.active {
            display: block;
        }
    }
}