$light-color: #ECE7DF;
$light-shadow-color: #D1CCC4;
$blue-color: #065A84;
$blue-shadow-color: #054261;
$brown-color: #843006;
$white-color: #FFFFFF;
$nunito-font: 'Nunito', sans-serif;
$nova-script-font: 'Nova Script', cursive;

$screen-xs-max: 767px;
$screen-sm: 768px;
$screen-sm-max: 991px;
$screen-md: 992px;
$screen-md-max: 1199px;
$screen-lg: 1200px;
$screen-lg-max: 1399px;
$screen-xl: 1400px;